+e.inner.container
	+e("h2").title!= title
	+e.text!= text
	+e("h3").subtitle!= listTitle
	+e.list
		if items
			each item in items
				+e.list-item
					+e.list-image
						img(src=item.image alt=item.name)
					+e.list-content
						+e.list-name!= item.name
						+e.list-position!= item.position
						+e.toggle
							+e("span").toggle-more
								span.hidden-phone!= tr('Show more')
								span.visible-phone!= tr('Read bio')
							+e("span").toggle-less
								span.hidden-phone!= tr('Show less')
								span.visible-phone!= tr('Collapse bio')
						+e.list-text!= item.text