+e.body
	+e.body-mask
	+e.body-inner
		if title
			+e.header
				+e("h2").title
					+e("span").title-label #{titleLabel} /&#32;
					+e("span").title-main!= title
		+e.content
			if subTitle
				+e("h3").subtitle!= subTitle
			+e.text!= text
		if anchorUrl
			+e.anchor(data-menuanchor=anchorUrl)
				+e.anchor-label!= anchorLabel
				- classes = ""
				if anchorArrowColor
					- classes = "section-arrow_" + anchorArrowColor
				+e.anchor-arrow.section-arrow(class=classes)
- classes = ""
if imageClass
	- classes = imageClass
+e.image(style="background-image: url('#{image}');" class=classes)
	+e.image-mask
