doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="author", content="SE7ENSKY frontend studio <hello@se7ensky.com>")
		meta(name="theme-color" content="#e53c26")
		title
			block title
				if file.title
					| #{file.title} – #{site.title}
				else
					| #{site.title}
		script.
			var preloaded = sessionStorage.getItem('preloaded');
			if (preloaded == 'true') {
				var root = document.documentElement;
				root.className += ' preloaded';
			}
		- wp_head()

		link(rel="apple-touch-icon-precomposed" sizes="57x57" href=asset("i/app/Amerigo_favicon_57.png"))
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href=asset("i/app/Amerigo_favicon_114.png"))
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href=asset("i/app/Amerigo_favicon_72.png"))
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href=asset("i/app/Amerigo_favicon_144.png"))
		link(rel="apple-touch-icon-precomposed" sizes="60x60" href=asset("i/app/Amerigo_favicon_60.png"))
		link(rel="apple-touch-icon-precomposed" sizes="120x120" href=asset("i/app/Amerigo_favicon_120.png"))
		link(rel="apple-touch-icon-precomposed" sizes="76x76" href=asset("i/app/Amerigo_favicon_76.png"))
		link(rel="apple-touch-icon-precomposed" sizes="152x152" href=asset("i/app/Amerigo_favicon_152.png"))
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_196.png") sizes="196x196")
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_96.png") sizes="96x96")
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_32.png") sizes="32x32")
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_16.png") sizes="16x16")
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_128.png") sizes="128x128")
		meta(name="application-name" content="&nbsp;")
		meta(name="msapplication-TileColor" content="#FFFFFF")
		meta(name="msapplication-TileImage" content=asset("i/app/Amerigo_favicon_144.png"))
		meta(name="msapplication-square70x70logo" content=asset("i/app/Amerigo_favicon_70.png"))
		meta(name="msapplication-square150x150logo" content=asset("i/app/Amerigo_favicon_150.png"))
		meta(name="msapplication-wide310x150logo" content=asset("i/app/Amerigo_favicon_310x150.png" ))
		meta(name="msapplication-square310x310logo" content=asset("i/app/Amerigo_favicon_310.png"))

			
	body
		style#preloader-styles
			:stylus
				html.preloaded .preloader
					display none
				.preloader
					&__badge
						height 60%
						max-height 1500px
						transform-origin 50% 0
						@media (max-width: 767px)
							height 40%
					&__logo
						@media (max-width: 767px)
							top 40% !important
							width 300px !important
							margin-left -150px !important
						&-main
							@media (max-width: 767px)
								width 300px !important
				.animsition
					opacity 0
					

		+b.preloader(style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #fff; z-index: 999;"): +i
		.animsition
			+b("header").header: +i({activeMenuIndex: file.activeMenuIndex})
			.root
				.root__body
					block root
						!= content
					+b("footer").footer: +i

			+b.mobile-menu: +i
			+b.modals: +i

		block fonts
		block styles
		block scripts
		block analytics

		- wp_footer()
