doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="author", content="SE7ENSKY frontend studio <hello@se7ensky.com>")
		meta(name="theme-color" content="#e53c26")
		title
			block title
				if file.title
					| #{file.title} – #{site.title}
				else
					| #{site.title}
		script.
			var preloaded = sessionStorage.getItem('preloaded');
			if (preloaded == 'true') {
				var root = document.documentElement;
				root.className += ' preloaded';
			}
		- wp_head()

		link(rel="apple-touch-icon-precomposed" sizes="57x57" href=asset("i/app/Amerigo_favicon_57.png"))
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href=asset("i/app/Amerigo_favicon_114.png"))
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href=asset("i/app/Amerigo_favicon_72.png"))
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href=asset("i/app/Amerigo_favicon_144.png"))
		link(rel="apple-touch-icon-precomposed" sizes="60x60" href=asset("i/app/Amerigo_favicon_60.png"))
		link(rel="apple-touch-icon-precomposed" sizes="120x120" href=asset("i/app/Amerigo_favicon_120.png"))
		link(rel="apple-touch-icon-precomposed" sizes="76x76" href=asset("i/app/Amerigo_favicon_76.png"))
		link(rel="apple-touch-icon-precomposed" sizes="152x152" href=asset("i/app/Amerigo_favicon_152.png"))
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_196.png") sizes="196x196")
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_96.png") sizes="96x96")
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_32.png") sizes="32x32")
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_16.png") sizes="16x16")
		link(rel="icon" type="image/png" href=asset("i/app/Amerigo_favicon_128.png") sizes="128x128")
		meta(name="application-name" content="&nbsp;")
		meta(name="msapplication-TileColor" content="#FFFFFF")
		meta(name="msapplication-TileImage" content=asset("i/app/Amerigo_favicon_144.png"))
		meta(name="msapplication-square70x70logo" content=asset("i/app/Amerigo_favicon_70.png"))
		meta(name="msapplication-square150x150logo" content=asset("i/app/Amerigo_favicon_150.png"))
		meta(name="msapplication-wide310x150logo" content=asset("i/app/Amerigo_favicon_310x150.png" ))
		meta(name="msapplication-square310x310logo" content=asset("i/app/Amerigo_favicon_310.png"))

			
	body
		style#preloader-styles
			:stylus
				html.preloaded .preloader
					display none
				@keyframes preloader-loading
					0%
						transform: rotate(0deg)
					100%
						transform: rotate(360deg)

				@keyframes preloader-spinner-fade-in
					0%
						opacity: 0
					100%
						opacity: 1
				.preloader
					&__spinner
						animation preloader-loading 0.8s linear infinite, preloader-spinner-fade-in .5s linear 1s normal 1 forwards running
						border-top 3px solid lighten(#e63c27, 20%) !important
						border-right 3px solid lighten(#e63c27, 20%) !important
						border-bottom 3px solid lighten(#e63c27, 20%) !important
						border-left 3px solid lighten(#e63c27, 80%) !important
						width 32px
						height 32px
						border-radius 100%
						transform-origin 50%
						margin-left -16px
						opacity 0
						transform translateZ(0)
						@media (max-width: 767px)
							bottom 20%
						@media (max-height: 480px), (min-width: 768px)
							bottom 10%
						@media (max-height: 340px), (min-width: 768px) and (max-height: 550px)
							width 20px
							height 20px
							margin-left -10px
						@media (max-height: 295px), (min-width: 768px) and (max-height: 675px)
							bottom 5%
						@media (min-width: 768px) and (max-height: 500px)
							display none
					&__badge
						height 60%
						max-height 1500px
						transform-origin 50% 0
						@media (max-width: 767px)
							height 40%
					&__logo
						top 60%
						width 318px
						margin-left -159px
						margin-top 80px
						@media (max-width: 767px)
							top 40%
							width 300px
							margin-left -150px
							margin-top 50px

						&-main
							width 318px
							height 23px
							@media (max-width: 767px)
								width 300px
								height 22px

				.animsition
					opacity 0
					

		+b.preloader(style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #fff; z-index: 999;"): +i
		.animsition
			+b("header").header: +i({activeMenuIndex: file.activeMenuIndex})
			.root
				.root__body
					block root
						!= content
					+b("footer").footer: +i

			+b.mobile-menu: +i
			+b.modals: +i

		block fonts
		block styles
		block scripts
		block analytics

		- wp_footer()
